*{
    margin: 0;
	padding: 0;
    font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

img{
    height: 300px;
    width: 475px;
    
}
.container {
	display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        'h h h'
        's m m'
        'f f f';
    gap: 5px;
    width: 100vw;
    height: 100vh;

}
.header{
    grid-area: h;
    background-color: #6e8783;

}

.side {
    grid-area: s;
    background-color: #6e8783;

}

.main {
    grid-area: m;
    background-color: #e5e5dc;

}
footer{
    grid-area: f;
    background-color: #6e8783;
}


.top {

    margin-right: 3rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li a {
    display: block;
    color: #334259;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #edddd0;
}
ul a {
    display: block;
    color: #334259;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
ul a:hover {
    background-color: #edddd0;
}