*{
    margin: 0;
	padding: 0;
    font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

img{
    height: 300px;
    width: 475px;
    
}
.container {
	display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        'h h h'
        's m m'
        'f f f';
    gap: 5px;
    width: 100vw;
    height: 100vh;

}
.header{
    grid-area: h;
    background-color: #3b4252;

}

.side {
    grid-area: s;
    background-color: #2e3440;

}

.main {
    grid-area: m;
    background-color: #d8dee9;

}
footer{
    grid-area: f;
    background-color: #3b4252;
}


.top {

    margin-right: 3rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
